.content {
    padding-top: 20px;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 20px;

  }

  .caption1 {
    color: blue;
  }

  .caption2 {
    color: blue;

  }

  .data_label {
    font-weight: bold; color: gray;
  }
  .data {
    font-style: italic;
  }

  dt, dd{
    margin-block-start: 0px;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.txt_warning_high {
  color:red;
}