/.metadata/
/docs/papers/PhD_Thesis.FINAL.pdf
/docs/papers/2011TOU30066.pdf
/docs/papers/PMC-SAPERE-preprint.pdf
/docs/papers/KD_memoire.pdf
/docs/papers/Markov Chains.pdf
/docs/papers/1-s2.0-S037877961500293X-main.pdf
/docs/papers/early_findings_revised(1).pdf
/docs/papers/SGComm16_Aksanli.pdf
/docs/papers/economcours.pdf
/docs/papers/1-s2.0-S0968090X16302492-main.pdf
/docs/papers/Generic Holonic Control Architecture.pdf
/docs/papers/JLAMP20.pdf
/docs/papers/ST-Cours.pdf
/download_gcp_file/dump_last.sql
/download_gcp_file/dump/dump_last.sql
/download_gcp_file/dump/dump_light_last.sql
/mariadb/energy/backup/*.sql
/docs/latex2doc/main.tex
/docs/latex2doc/report.doc
bin
/docs/latex2doc/*.docx
*.lck
*.log
/sapereapi/db/*.db
/docs/latex2doc/*.png
/docs/latex2doc/*.txt
/sapereapi/run_configs/*.csv
/sapereangular/Dockerfile1
/sapereangular/Dockerfile2
/sapereapi/coordination_platform.jar
/saperetest/meyrin_simulator.jar
/download_gcp_file/__pycache__
/mariadb/*.sql
/lstm/history
/*.gv
/docs/latex2doc/PhD-PhilippeGlass
list_free_rider1_files
/tests/list_free_rider2.htm
/tests/storage_private1_10_200_70WH.htm
/tests/storage_private1_100WH.htm
/tests/storage_private1_30WH.htm
/tests/storage_private1_20WH.htm
/tests/storage_comon1_100WH.htm
/tests/storage_comon1_200WH.htm
/tests/storage_comon1_200WH B.htm
/tests/storage_comon1.htm
/tests/storage_no.htm
/tests/storage_comon1_200WH C.htm
/lstm/.venv
/tests/*.htm
/tests/tragedy_common_dynpricing03_files
/tests/test_overcharge2_files
/tests/test_overcharge_files
/tests/tragedy_common_dynpricing30_files
/tests/tragedy_common10_files
/tests/tragedy_common_dynpricing10_files
/tests/tragedy_common03_files
