<app-header></app-header>
<div class="content">
    <form (ngSubmit)="updateNeighbours()">
        <div class="form-group">
            <label>Name:<input class="form-text disabled" name="nodeConfig.name" [(ngModel)]="nodeConfig.name" size="4"></label>
            &nbsp;
            <label>Host:<input class="form-text disabled" name="nodeConfig.host" [(ngModel)]="nodeConfig.host" size="10"></label>
            &nbsp;
            <label>Main Port:<input class="form-text disabled" name="nodeConfig.mainPort" [(ngModel)]="nodeConfig.mainPort" size="4"></label>
            &nbsp;
            <label>Rest Port:<input class="form-text disabled" name="nodeConfig.restPort" [(ngModel)]="nodeConfig.restPort" size="4"></label>
            &nbsp;
            <label>Neighbours:<input class="form-text disabled" name="neighbourNames" [(ngModel)]="neighbourNames" size="10"></label><br />
        </div>
        <div class="form-group">
            <label for="neighboursUpdateRequest.neighboursConfigId">update neighbours: </label>&nbsp;
            <select [(ngModel)]="neighboursUpdateRequest.neighboursConfigId"  name="neighboursUpdateRequest.neighboursConfigId" multiple="true">
                <option  [value]=""> </option>
                <option *ngFor="let nodeConfig of allNodeConfigs" [value]="nodeConfig.id">{{nodeConfig.name}} ({{nodeConfig.host}}:{{nodeConfig.mainPort}})</option>
            </select>
        </div>
        <button class="btn btn-success" type="submit">Update</button>
    </form>
</div>



<div class="content">
    <form (ngSubmit)="addConfig()">
        <div class="form-group">
            <label>Name:<input class="form-text " name="nodeConfigToAdd.name" [(ngModel)]="nodeConfigToAdd.name" size="4"></label>
            &nbsp;
            <label>Host:<input class="form-text " name="nodeConfigToAdd.host" [(ngModel)]="nodeConfigToAdd.host" size="10"></label>
            &nbsp;
            <label>Main Port:<input class="form-text " name="nodeConfigToAdd.mainPort" [(ngModel)]="nodeConfigToAdd.mainPort" size="4"></label>
            &nbsp;
            <label>Rest Port:<input class="form-text " name="nodeConfigToAdd.restPort" [(ngModel)]="nodeConfigToAdd.restPort" size="4"></label>
            &nbsp;
            <button class="btn btn-success" type="submit">Create</button>
        </div>
    </form>
</div>