<app-header></app-header>
<div class="content">

<table class="table table-hover">
<thead>
<tr>
<th>LSA</th>
</tr>
</thead>
<tbody>
    <tr *ngFor="let lsaForm of list_lsa" scope="row">
        <td><ul>
                <li><span class='caption1'>Agent : </span><span class='data'> {{lsaForm.agentName}}</span></li>
                <li><span class='caption1'>Service consumption : </span><span class='data'>{{lsaForm.subDescription}}</span></li>
                <li><span class='caption1'>Properties :</span>
                    <ul>
                        <li *ngFor="let property of lsaForm.propertyList">
                               <span class='data_label'> {{property.name}} : </span>
                               <span class='data'>
                                    <span *ngFor="let line of property.valueLines; let idx = index">
                                        <ng-container *ngIf="idx == 0">{{line}}</ng-container>
                                        <ng-container *ngIf="idx > 0"><DD>{{line}}</DD></ng-container>
                                    </span>
                                </span>
                                <ng-container *ngIf="property.aggregatedValue != ''">
                                    <span class='caption2'>#aggr:</span>
                                    <span *ngFor="let line of property.aggregatedValueLines; let idx = index">
                                        <ng-container *ngIf="idx == 0">{{line}}</ng-container>
                                        <ng-container *ngIf="idx > 0"><DD>{{line}}</DD></ng-container>
                                    </span>
                                </ng-container>

                                <ng-container *ngIf="property.bond != ''">
                                    <span class='caption2'>#B:</span><span class='data'>{{property.bond}}</span>
                                </ng-container>
                                <ng-container *ngIf="property.query != ''">
                                    <span class='caption2'>#Q:</span><span class='data'>{{property.query}}</span>
                                </ng-container>
                                <ng-container *ngIf="property.state != ''">
                                    <span class='caption2'>#S:</span><span class='data'>{{property.state}}  </span>
                                </ng-container>
                                <ng-container *ngIf="property.chosen != false">
                                    <span class='caption2'>#</span><span class='data'>{{property.chosen}} </span>
                                </ng-container>
                        </li>
                    </ul>
                </li>
                <li><span class='caption1'>Synthetic properties :</span>
                        <ng-container *ngFor="let item of lsaForm.syntheticProperties | keyvalue">
                            <span class='caption2'>{{item.key}} : </span>{{item.value}}  </ng-container>
                </li>
            </ul>
        </td>
    </tr>
</tbody>
</table>